body {
    background-image: linear-gradient(red ,orange , yellow ,orange , red);
    text-align: center;
}

h1 {
    border-style: dotted;
    border-color: #3f0c0c;
    color: #3b051a;
}
h2 {
    color: #38140b;
}
div {
    margin: 400px;
}

