body {
    background-image: linear-gradient(red ,orange , yellow ,orange , red);
    text-align: center;
}

h1 {
    border-style: dotted;
    border-radius: 15px;
    border-width: thick;
    border-color: #3f0c0c;
    color: #3b051a;
}
h2 {
    color: #38140b;
    border-bottom: double;
    border-top: double;
    border-radius: 1000px;
}
.Guess {
    margin-right: 100px;
    margin-top: 300px;
    margin-left: 100px;
    margin-bottom: 150px;
}

.pic{
    
    filter: saturate();
}
